.align-text {
	 margin: 0 auto;
	 max-width: 750px;
	 padding: 100px;
	 text-align: center;

	 @media (max-width: 768px) {
			padding: 25px 25px 50px;
	 }
}

.img {
	 width: 13%;
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 height: auto;

	 @media (max-width: 600px) {
		 width: 40%;
	 }

	 @media (max-width: 400px) {
		 width: 35%;
	 }
}
